<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Ultimas noticias</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/g/juego1">Juego1</a></li>
                <li><a href="/u/login">Acceder</a></li>
            </ul>
        </nav>

        <div class="">
            <h1>Ultimas noticias</h1>
            {% for noti in noticia %}
                <a href="/noticias/{{noti.id}}">
                    <div class="">
                        <h2>{{noti.titulo}}</h2>
                        <p>{{noti.descripcion}}</p>
                    </div>
                </a>
            {% endfor %}
        </div>

        <footer></footer>
    </body>
</html>
